html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--bg-color);
  transition: var(--ease-transition);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --icon-color: #000;
  --ease-transition: ease 0.5s;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --icon-color: #fff;
}
