@import 'nprogress.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--primary-color);
  transition: var(--ease-transition);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

input:focus,
textarea:focus,
span:focus {
  outline: none;
}

.page {
  -webkit-animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  margin-bottom: 20px;
}

@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

:root {
  --font-family: Roboto, system, -apple-system, BlinkMacSystemFont,
    Helvetica Neue, Segoe UI, Arial, sans-serif;
  --ease-transition: all 0.5s ease;
  --navbar-height: 80px;
  --icon-width: 30px;
  --border-radius: 10px;
  --box-shadow-card: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

[data-theme='light'] {
  --bg-color: #fff;
  --bg-color-secondary: #fff;
  --primary-color: #121212;
  --loading-color: #43635f;
}

[data-theme='dark'] {
  --bg-color: #121212;
  --bg-color-secondary: #202020;
  --primary-color: #fff;
  --loading-color: #9ed3c9;
}

@media screen and (max-width: 480px) {
  :root {
    --container-padding: 0 20px;
    --title-size: 16px;
    --description-size: 12px;
    --grid-columns: 1;
    --fixed-items-right: 20px;
    --modal-width: 90%;
    --line-clamp: 12;
    --notes-max-width: calc(95vw - 20px);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  :root {
    --container-padding: 0 20px;
    --title-size: 18px;
    --description-size: 14px;
    --grid-columns: 2;
    --fixed-items-right: 20px;
    --modal-width: 400px;
    --line-clamp: 14;
    --notes-max-width: calc(48.3vw - 20px);
  }
}

@media screen and (min-width: 769px) and (max-width: 1279px) {
  :root {
    --container-padding: 0 60px;
    --title-size: 20px;
    --description-size: 16px;
    --grid-columns: 3;
    --fixed-items-right: 60px;
    --modal-width: 400px;
    --line-clamp: 16;
    --notes-max-width: calc(34.5vw - 60px);
  }
}

@media screen and (min-width: 1280px) {
  :root {
    --container-padding: 0 200px;
    --title-size: 20px;
    --description-size: 16px;
    --grid-columns: 4;
    --fixed-items-right: 200px;
    --modal-width: 400px;
    --line-clamp: 18;
    --notes-max-width: calc(32vw - 200px);
  }
}
