.input {
  width: 100%;
  background: none;
  border: none;
  color: var(--primary-color);
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: var(--bg-color-secondary);
  border-radius: var(--border-radius);
  padding: 15px;
  margin-bottom: 15px;
  transition: var(--ease-transition);
  box-shadow: var(--box-shadow-card);
}

.description_input {
  display: block;
  width: 100%;
  overflow: auto;
  resize: both;
  line-height: 20px;
  resize: none;
  min-height: 200px;
  max-height: 60vh;
}
