.modal {
  display: none;
  position: absolute;
  left: calc(-1 * var(--fixed-items-right));
  top: -80px;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_content {
  background-color: var(--bg-color-secondary);
  padding: 20px;
  border-radius: var(--border-radius);
  color: var(--primary-color);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: var(--modal-width);
}

.close {
  color: var(--primary-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -5px;
  text-decoration: none;
  cursor: pointer;
}

.content {
  text-align: center;
}
