.navbar {
  width: 100%;
  height: var(--navbar-height);
}

.container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element {
  display: flex;
  align-items: center;
}

.logo {
  width: var(--icon-width);
}

.app_name {
  margin-left: 20px;
  font-size: var(--title-size);
}

.toggler {
  width: var(--icon-width);
  cursor: pointer;
}
