.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  gap: 20px;
  grid-auto-rows: minmax(100px, auto);
}

.element {
  color: var(--primary-color);
  background-color: var(--bg-color-secondary);
  transition: var(--ease-transition);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-card);
  padding: 20px;
  cursor: pointer;
  max-width: var(--notes-max-width, auto);
}

.element_title,
.element_description {
  margin: 0;
}

.element_description {
  white-space: pre-line;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp);
  line-clamp: var(--line-clamp);
  -webkit-box-orient: vertical;
}
